src/main/java/com/rank/ccms/config/callroutingprops/jaxb/CallRoutingProperties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿Subrata Haldar (Personal) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="propertySequence" type="xs:byte"/>
    <xs:element name="PropertyName" type="xs:string"/>
    <xs:element name="CallRoutingProperties">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CRProperty" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CRProperty">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PropertyName"/>
                <xs:element ref="propertySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
