src/main/java/CCMSTablesRelation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿Subrata Haldar (Personal) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_ParentTableName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ST_ChildTableName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="ParentTableName">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_ParentTableName">
					<xs:attribute name="daoClassName" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParentTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ParentTableName"/>
				<xs:element ref="ChildTableName" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChildTableName">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_ChildTableName">
					<xs:attribute name="hasChild">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="N"/>
								<xs:enumeration value="Y"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="daoClassName" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CCMSTablesRelation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CCMSTables"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CCMSTables">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ParentTable" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
